<div class="row gy-4">
    <div class="col-sm-6 col-md-3">
        <div class="card card-invoice card-round border-primary pt-3">

            <div class="card-body">
                <small class="text-muted">Total Tickets</small>
                <h3 class="fw-bold">80</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-invoice card-round border-primary pt-3">
            <div class="card-body">
                <small class="text-muted">Pending</small>
                <h3 class="fw-bold">26</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-invoice card-round border-primary pt-3">
            <div class="card-body">
                <small class="text-muted">Completed This Month</small>
                <h3 class="fw-bold">30</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-invoice card-round border-primary pt-3">
            <div class="card-body">
                <small class="text-muted">Releases This Month</small>
                <h3 class="fw-bold">24</h3>
            </div>
        </div>
    </div>
</div>