@{
    Layout = "_Layout";
    ViewData["Title"] = "Ticket";
}
<div class="container">
    <div class="page-inner">
        <div class="flex-column">
            <h5 class="page-title mb-3 fs-5 fw-bolder text-main">
                Tickets
            </h5>
            @{
                await Html.RenderPartialAsync("~/Views/Ticket/_TicketDashBoard.cshtml");
            }
            <div class="row">
                <div class="col">
                    <div class="card card-transparent rounded-1 mb-2">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-sm-4">
                                    <button type="button" id="openCreateTicketModal" class="btn btn-danger m-0 rounded-1" data-bs-toggle="modal" data-bs-target="#createTicketModal"><i class="fas fa-plus"></i> New Ticket</button>
                                   @{
                                   await Html.RenderPartialAsync("~/Views/Ticket/_CreateTicketModal.cshtml");
                                   } 
                                    @{
                                   await Html.RenderPartialAsync("~/Views/Ticket/_EditTicketModal.cshtml");
                                   } 
                                
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input id="inpSearchParam" type="text" class="form-control rounded-start-1" placeholder="Search tickets" aria-label="">
                                        <button id="" class="btn btn-danger bg-accent px-4 rounded-start-0" type="button" onclick="submitSearchMenu(this)">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @{
                await Html.RenderPartialAsync("~/Views/Ticket/_TIcketTable.cshtml");
            }
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/ticket/ticket.js" asp-append-version="true"></script>
}