@{
	Layout = "_Layout";
	ViewData["Title"] = "Hr Support";
}

<!-- Main content here -->
<div class="container">
	<div class="page-inner">
		<div class="flex-column">
			<h5 class="page-title page-title mb-3 fs-5 fw-bolder text-main">Human Resource Support</h5>
		</div>
		<div class="page-category">
			<div class="card card-profile">
				<div class="card-header bg-main-gradient rounded-top-2">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4 my-5">
							<div class="card border-0">
								<div class="card-body text-center py-5">
									<i class="fas fa-envelope-open-text fa-5x mb-3 text-primary"></i>
									<h4 class="fs-4 fw-bolder text-main mb-5">Email Us</h4>
									<p class="mb-1">info@dahbashi.com</p>
									<p class="mb-1">manusharma@dahbashi.com</p>
									<p class="mb-1">brian@dahbashi.com</p>
									<p class="mb-1">antonette@dahbashi.com</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 my-5">
							<div class="card border-0">
								<div class="card-body text-center py-5">
									<i class="fas fa-phone fa-5x mb-3 text-accent" aria-hidden="true"></i>
									<h4 class="fs-4 fw-bolder text-main mb-5">Call Us</h4>
									<div class="">
										<p class="mb-1">Reception: +971-4-4592500</p>
									</div>
									<div class="">
										<p class="mb-1">Mr. Manu Sharma: +971-4-4592549</p>
									</div>
									<div class="">
										<p class="mb-1">Mr. Brian: +971-4-4592521</p>
									</div>
									<p class="mb-1">&nbsp;</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 my-5">
							<div class="card border-0">
								<div class="card-body text-center py-5">
									<i class="fa fa-globe fa-5x mb-3 text-info" aria-hidden="true"></i>
									<h4 class="fs-4 fw-bolder text-main mb-5">Our Website</h4>
									<a href="https://www.dahbashi.com"><p class="mb-1">www.dahbashi.com</p></a>
									<p class="mb-1">&nbsp;</p>
									<p class="mb-1">&nbsp;</p>
									<p class="mb-1">&nbsp;</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body" style="height:430px"></div>
			</div>
		</div>
	</div>
</div>
<!-- End of main content -->
@section Scripts {
	<script src="~/js/support/hr-support.js" asp-append-version="true"></script>
}