@{
	Layout = "_NoMenuLayout";
	ViewData["Title"] = "Forgot Password";

	bool isValidResetToken = Convert.ToBoolean(ViewData["IsValidToken"]);
	string resetToken = ViewData["ResetToken"]?.ToString() ?? "";
}

<!-- Main content here -->
<div class="container">
	<div class="page-inner">
		<div class="flex-column">
			<h5 class="page-title page-title mb-3 fs-6 fw-bolder text-main">
				<a href="/" class="nav-link">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
					Go back to login
				</a>
			</h5>
		</div>
		<div class="page-category">
			<form id="frmResetPassword">
				@Html.AntiForgeryToken()
				<div class="card card-profile">
					<div class="card-header bg-main-gradient rounded-top-2">
						<div class="row">
							<div class="col-lg-12 my-5">
								@if (!isValidResetToken)
								{
									<div class="card">
										<div class="card-body p-5" style="height:660px">
											<div class="text-center text-accent">
												<div class="py-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 9v4" /><path d="M12 16v.01" /></svg>
												</div>
												<h2 class="fw-bolder">Invalid or Expired Token</h2>
												<p>Please request a new password reset link</p>
											</div>
										</div>
									</div>
								}
								else
								{
									<div class="card border-0">
										<div class="card-body text-center">
											<img class="img-fluid" src="~/img/de-and-anniversary-logo.png" width="350" />
											<h2 class="header-title mt-3 mb-0 fw-bold text-main">Reset Password</h2>
										</div>
										<div class="card-body py-3 pb-5">
											<div class="row justify-content-center">
												<div class="alert alert-warning col-9 small">
													<div class="fw-bold my-2 text-warning">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-shield-exclamation"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15.04 19.745c-.942 .551 -1.964 .976 -3.04 1.255a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3a12 12 0 0 0 8.5 3a12 12 0 0 1 .195 6.015" /><path d="M19 16v3" /><path d="M19 22v.01" /></svg>
														<span class="fs-6 text-uppercase fw-bolder">Important notes</span>
													</div>
													<ul>
														<li><span><strong>Create a strong password.</strong> Use a mix of uppercase, lowercase, numbers, and special characters.</span></li>
														<li><span><strong>Avoid reusing old passwords.</strong> For better security, always set a new one.</span></li>
														<li><span><strong>Contact IT support if issues persist.</strong> For example, if you do not receive the email or the reset link does not work.</span></li>
													</ul>
												</div>
											</div>
											<div class="form-group row py-1">
												<input type="hidden" name="RESET_TOKEN" class="required" value="@resetToken" />
												<label class="form-label col-3 offset-1 text-end">New Password</label>
												<div class="col-5">
													<input type="password" id="inpNewPassword" name="NEW_PASSWORD" class="form-control rounded-2 required" placeholder="Enter your new password" />
												</div>
											</div>
											<div class="form-group row py-1">
												<label class="form-label col-3 offset-1 text-end">Confirm Password</label>
												<div class="col-5">
													<input type="password" id="inpConfirmPassword" class="form-control rounded-2 required" placeholder="Confirm new password" />
												</div>
											</div>
											<div class="form-check offset-4">
												<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onchange="showPassword(this)">
												<label class="form-check-label" for="defaultCheck1">
													Show password
												</label>
											</div>
											<div class="form-group row align-items-center py-1">
												<div class="offset-4 col-5">
													<button type="button" class="btn btn-danger bg-accent px-4 rounded-2" onclick="submitResetPassword(this)">Reset Password</button>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
					<div class="card-body" style="height:600px"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- End of main content -->

@section Scripts {
	<script src="~/js/account/reset-password.js" asp-append-version="true"></script>
}